<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <title>Vue app</title>
</head>

<body>
    <div id="app">
        <div class="container-fluid header">
            <div class="row">
            <div class="container ">
                <div class="row pt-3">
                    <div class="col-xl-3 col-sm-3 col-xs-6">
                        <div class="logo pb-2 pt-2 text-right"><img src="images/logo.png" class="img-fluid" alt="one"></div>
                    </div>
                    <div class="col-xl-6 col-sm-5 col-xs-6 pt-4">
                        <div class="form-group">
                        
                            <input type="text" class="form-control" id="search" placeholder="sök här" v-model="search">
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-1">

                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container-fluid main">

            <div class="container ">
                <div class="row ">
                    <div class="col-xl-3">

                        <h2>Bilar i lager {{cars.length}} st. </h2>
                        <div class="list-group">

                            <li v-for="(car, index) in filteredCars" class="list-group-item list-group-item-action point" v-on:click="selectCar(index)"
                                :class="{'active': selectedCarIndex === index}">{{ car.name }} - {{ car.model }}

                            </li>
                        </div>
                    </div>
                    <div class="col-xl-9 pt-4">


                        <img :src="car.image" class="bill" v-bind:alt="car.name" />





                        <h2>Bil details</h2>
                        <ul>
                            <li>Model - <strong>{{ car.name }}{{ car.model }}</strong> </li>
                            <li>Hp - <strong>{{ car.hp }}</strong> </li>
                            <li>Year - <strong>{{ car.year }}</strong> </li>
                            <li>Owner - <strong>{{ car.owner }}</strong> </li>
                        </ul>
                        <div class="phoneBlock">
                            <p v-if="phoneVisibility">{{car.phone}}</p>
                        </div>

                        <button class="btn btn-outline-success mr-2" v-on:click="phoneVisibility = !phoneVisibility">
                         {{ phoneBtnText }} </button>
                        <button class="btn btn-primary">Buy</button>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>