
.bill{
    width: 70%;
}
.point{
    cursor: pointer;
}
.infoBlock{
    height: 80px;
}
.header{
    height: 120px;
    background-color: #03634B;

}
.main{
    background-color: white;

}

input[type=text] {
    border: 0px;
    border-radius: 8px;
    background-color: #F4F8F8;
    color: #A0CEC2;
    outline: none;
    background-image: url('images/find.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding-left: 40px;

}
input[type=text]:focus {
    border: 0px;
    border-radius: 8px;
    background-color: #F4F8F8;
    color: #A0CEC2;
    outline: none;
    background-image: url('images/find.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    outline: none;
    color: #064272;
   
}
.title{
   
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: #0D383F;
    
}
.logo{
    background-color: #03634B;
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: #F8F5F5;
    
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .50rem;
    border-bottom-left-radius: .50rem;
}
.list-group-item.active{
    background-color: #03634B;
    border-color: #CBCCCC;
    
}
.list-group-item:first-child {
    border-top-left-radius: .50rem ;
    border-top-right-radius: .50rem ;
   
    border-color: #CBCCCC;
} 
.moreInfoAnimation-enter-active{
 transition: all 0.5s;
}
.moreInfoAnimation-leave-active{
    transition: all 0.5s;
}
.moreInfoAnimation-enter, .moreInfoAnimation-leave-to{
    transform: translateX(70px);
    opacity: 0;
}
.btn-primary {
    color: #fff;
    background-color: #063C75;
    border-color: #072647;
}
.btn-outline-success {
    color: #05573D;
    background-color: transparent;
    background-image: none;
    border-color: #067C4F;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #036D4D;
    border-color: #098058;
}
.footer{
    height: 200px;
    background-color: #03634B;
    color: #F1F7F7;
    bottom:0;
}