
.bill{
    width: 80%;
}
.point{
    cursor: pointer;
}
.phoneBlock{
    height: 50px;
}
.header{
    height: 120px;
    background-color: #03634B;

}
.main{
    background-color: white;

}

input[type=text] {
    border: 0px;
    border-radius: 8px;
    background-color: #F4F8F8;
    color: #A0CEC2;
    outline: none;
    background-image: url('images/find.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding-left: 40px;

}
input[type=text]:focus {
    border: 0px;
    border-radius: 8px;
    background-color: #F4F8F8;
    color: #A0CEC2;
    outline: none;
    background-image: url('images/find.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    outline: none;
    color: #064272;
   
}
.h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    color: #064272;
}
.logo{
    background-color: #03634B;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    color: #F8F5F5;
    
}
.list-group-item.active{
    background-color: #03634B;
    border-color: #CBCCCC;
    
}
.list-group-item:first-child {
    border-top-left-radius: 0 ;
    border-top-right-radius: 0 ;
    border-color: #CBCCCC;
} 
.moreInfoAnimation-enter-active{
 transition: all 1s;
}
.moreInfoAnimation-leave-active{
    transition: all 1s;
}
.moreInfoAnimation-enter, .moreInfoAnimation-leave-to{
    transform: translateX(70px);
    opacity: 0;
}