.bill{
    width: 80%;
}
.point{
    cursor: pointer;
}
.phoneBlock{
    height: 50px;
}
.header{
    height: 100px;
    background-color: #D5F8EE;

}
.main{
    background-color: white;

}

input[type=text] {
    border: 2px solid #23976B;
    border-radius: 4px;

}
input[type=text]:focus {
    border: 3px solid #0E835C;
    color: white;
    background-color: #075C34;
}
.h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    color: #064272;
}